body {
    background-image: url(nature.jpg);
    background-size: cover;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.himu {
    justify-content: center;
}

p {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid rgb(126, 126, 248);
    text-align: center;
    margin: 70px 700px 0px 700px;
}

img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 0.5s;
}

img:hover {
    transform: scale(1.1);
}

.container1 {
    margin-left: 900px;
}

.btn{
    background-color: rgb(43, 196, 102);
    padding: 15px;
    border-radius: 20px;
    font-size: larger;
    font-family: fantasy;
}

.btn:hover {
    background-color: aquamarine;
    cursor: pointer;
}